.app-header {
    position:  fixed;
    padding: 0 1vw;
    top: 0;
    z-index: 10;
    height: auto;
    
}


mat-card {
    padding: 0 .5vw;
    border-radius: 0;
        height: 100vh;
    background-color: transparent;
    background: url("../../Image/visuals/hand-2722104_1920.jpg") no-repeat fixed;
    background-size: cover;
}

.flex-spacer {

    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
}


.main-content {
        margin-top: 48px;
        width: 100%; 
        max-height: 100%;
        min-height: 100%;
        overflow-y: scroll;
        box-sizing: border-box;
    }

.bit-banner {
    position: fixed;
    padding-top: 6px;   
    right: 0;
    width: 15%;
}
.bit-banner img {
    width: 100%;
    height: 90vh;
}
.bit-banner a {
    display: block;
    width: 100%;
    height: 100%;
}



.sizer {
    max-width: 82vw;
    min-width: 82vw;
    width: 82vw;
    height: 100%;
    
}

mat-expansion-panel{

    background: rgba(200,200,200,.85);
    color: black;
    width: 100%
}
mat-expansion-panel-header {
    margin-top: 6px;
    background: rgba(150,150,150,.0);
}
.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
    color: black;
    flex-basis: 0;
}
.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}