<mat-toolbar class="app-header">
  <span>Getting Crypto</span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      <mat-icon>{{link.icon}}</mat-icon>
    </a>
  </nav>

</mat-toolbar>


<mat-card class="main-content">





  <div class="flex-spacer">

    <div style="position: relative; height: auto; width: 82vw;">
      <iframe src="https://www.youtube.com/embed/5p7xSCYeSw4?ecver=2" style="position:absolute;width:100%;height:100%;top:0" frameBorder="0"
        gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <aside class="bit-banner">
      <!-- Bitcoin.de Banner - 160x600px -->
      <a href="https://www.bitcoin.de/de/r/mtb4n2">
        <img height="400" src="https://bitcoin.de/images/bl/bc-3.gif">
      </a>
    </aside>

  </div>
</mat-card>

<router-outlet></router-outlet>