<mat-toolbar class="app-header">
  <span>Getting Crypto</span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      <mat-icon>{{link.icon}}</mat-icon>
    </a>
  </nav>

</mat-toolbar>


<mat-card class="main-content">

  <div class="flex-spacer">

    <div>

        <img style="width:83vw"width="512" alt="IOTA" src="https://upload.wikimedia.org/wikipedia/commons/0/05/IOTA.jpg" />
      <a title="By Tiagodimas2 (Own work) [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File%3AIOTA.jpg">
      </a>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Schritt 1
            </mat-panel-title>
            <mat-panel-description>
              Kryptowährung kaufen
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>
            Zuerst müssen Sie einen Account wahlweise auf https://www.bitcoin.de/de/r/mtb4n2 oder https://www.coinbase.com/join/5a37942f7fb52c0569fb229d
            erstellen. Nachdem Sie Ihre E-mail bestätigt haben ist es ratsam eine Zwei Faktoren Authentifizierung mit Ihrem
            Account zu verknüpfen (Link zu wikipedia zwei faktoren authenti). Dadurch wird eine zusätzliche Maßnahme getroffen
            um Ihre Coins und Einzahlungen sowie Auszahlungen zu schützen. Diesen Schritt raten wir Ihnen dringlichst auf
            allen weiteren Seiten zu wiederholen! Da Ihr Account jetzt gut gesichert ist, können Sie auf dem Marktplatz Bitcoin,
            Ethereum, Litecoin usw erwerben. Auf Bitcoin.de empfiehlt sich Ethereum, da die Transaktionsgebühren im Vergleich
            zu Bitcoin deutlich geringen sind und die Transaktion wesentlich schneller bearbeitet wird. Auf https://www.coinbase.com/join/5a37942f7fb52c0569fb229d
            haben Sie zur Zeit die Möglichkeit 10$ Bonus auf Ihren ersten Kauf von Bitcoins zu bekommen. Hierfür müssen Sie
            sich über den obrigen Link registrieren und Bitcoin im Wert von 100$ kaufen. Sobald Sie dies getan haben, erhalten
            Sie von Coinbase 10$ Bonus! Dieser Bonus empfiehlt sich für alle, die mit Bitcoin in einen anderen Coin investieren
            wollen (Bsp Ripple oder Iota).
          </p>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Schritt 2
            </mat-panel-title>
            <mat-panel-description>
              Exchange Account erstellen
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>
            Nun da Sie sich für einen Coin Ihrer Wahl entschieden haben, wird es Zeit einen Account bei https://www.binance.com/?ref=13680658
            (für alle US Bürger zu Empfehlen) oder bitfinex.com (Reff link kommt noch) (für US Bürger ausgeschlossen) zu
            erstellen. Hierzu klicken Sie auf die Links oben und registrieren sich. Wie in Schritt 1 schon empfohlen bieten
            auch diese Seiten eine Zwei Faktoren Authentifizierung an. Wir weisen Sie nochmals drauf hin, diesen Schritt
            unbeding durchzuführen um Ihren Accounts maximale Sicherheit zu ermöglichen. Diese Plattformen bieten einem direkten
            Zugang zur Handelsbörse der Kryptocoins. Natürlich können Sie sich auf den Exchange Plattformen verifizieren
            und via Bankeinzug Euro bzw Dollar überweisen, doch dieser Schritt kann bis zu 21 Tage dauert, weil das Postident
            verfahren angewand wird. Deshalb Coins kaufen auf Bitcoin.de / Coinbase.com um den schnellen Einstieg zu schaffen.
            </p>
          <h3>*Zusatz Daytrading</h3>
          <p>
            Für alle die an Daytrades mit Kryptowährung interessiert sind, bietet sich die Option an bei beiden Exchange Plattformen
            sich zu registrieren und auf die dortigen Kursschwankungen zu setzten. Der große Vorteil entsteht wenn Sie beispielsweise
            Iota Ein- und Verkaufen. Da Iota keine Transaktionsgebühren hat kann man mit dem richtigen Riecher einiges an
            Gewinnen über den Tag verteilt verzeichnen.


          </p>
          <mat-action-row>
            <button mat-button (click)="prevStep()">Previous</button>
            <button mat-button (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Schritt 3
            </mat-panel-title>
            <mat-panel-description> BTC/ETH Einzahlung
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>
            Fast geschafft! Bitfinex: Um auf Bitfinex Einzahlungen zu tätigen, müssen Sie sich Einloggen und oben rechts auf Deposit
            klicken. Auf der nächsten Seite klicken Sie auf Ethereum und generieren dort eine neue Exchange Adresse. Auf
            diese überweisen Sie nun Ihr in Schritt 1 erworbene Ether oder Bitcoin. Durch das Refferal Programm von Bitfinex
            haben Sie in den ersten 30 Tagen eine 10%ige Ermäßigung auf Ihre Tradinggebühren! Nutzen Sie diese Gelegenheit!
            Binance: Wie auf Bitfinex auch gehen Sie hier nachdem Sie sich eingeloggt haben auf Funds -> Deposits. Auf der
            nächsten Seite werden Sie diverse Kryptowährungen sehen. Suchen Sie sich Ihren Coin aus und generieren Sie eine
            neue Empfängeradresse. Von Coinbase bzw bitcoin.de können Sie nun unter Send oder Senden Ihre Transaktion durchführen.
            Diese Transaktion dauert einige Minuten.

          </p>
          <mat-action-row>
            <button mat-button (click)="prevStep()">Previous</button>
            <button mat-button (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Schritt 4
            </mat-panel-title>
            <mat-panel-description>
              Beispiel: Bitfinex Iota mit Ethereum kaufen

              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>
            Sie sind jetzt soweit, dass Sie in den Kryptomarkt eintauchen können. Lassen Sie sich von den vielen neuen Elementen, Graphen
            und Balken nicht verunsichern. Um jetzt Beispielsweise Iota zu kaufen gehen Sie bei Bitfinex auf Trading -> Iota/Eth
            -> Order Form hier den gewünschten Kurswert eingeben um Iota zu kaufen. !!Wichtig!! Bei der Order Form müssen
            sie Exchange (Austausch) auswählen und nicht Margin. Unter Exchange können Sie dann so Coins zum aktuellen Kurs
            traden. Ähnlich läuft es auch auf Binance ab. Sie loggen sich auf Binance mit Ihrem Account ein. Gehen dann auf
            BTC-IOTA exchange. Unter dem Chart in der Mitte der Seite sehen Sie ein Interface. Dort klickt man von Limit
            auf Market. Nachdem Sie Market ausgewählt haben, klicken Sie auf 100% (damit wandeln Sie Ihre Bitcoins zu 100%
            in Iota um). Wenn Sie mit Ihren Einstellungen zufrieden sind, klicken Sie auf Buy IOTA.
            <br> Herzlichen Glückwunsch Sie haben soeben gelernt wie man an dem Kryptomarkt Teil nimmt und in den wohl vielversprechendsten
            Coin investiert!

          </p>
          <div>

            <div style="position: relative; height: 400px; width: 100%;">
              <iframe src="https://www.youtube.com/embed/5p7xSCYeSw4?ecver=2" style="position:absolute;width:100%;height:100%;top:0" frameBorder="0"
                gesture="media" allow="encrypted-media" allowfullscreen></iframe>

            </div>

          </div>


          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <aside class="bit-banner">
      <!-- Bitcoin.de Banner - 160x600px -->
      <a href="https://www.bitcoin.de/de/r/mtb4n2">
        <img src="https://bitcoin.de/images/bl/bc-3.gif">
      </a>
    </aside>

  </div>

</mat-card>

<router-outlet></router-outlet>