.app-header {
    position:  fixed;
    padding: 0 1vw;
    top: 0;
    z-index: 10;
    height: auto;
}
.app-header span  {
    width: auto;
}
mat-card {
    padding: 0 .5vw;
    border-radius: 0;
}
.flex-spacer {

    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    height: 100%;
}


.main-content {

        margin-top: 48px;
        height: auto;
        min-height: 100vh;
    }

.bit-banner {
    position: fixed;
    right: 0;
    width: 15%;
}
.bit-banner img {
    width: 100%;
    height: 90vh;
}
.bit-banner a {
    display: block;
    width: 100%;
    height: 100%;
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
mat-expansion-panel-header {
    background: orangered;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: black;
}
mat-expansion-panel, mat-expansion-panel mat-card {
    background: rgba(255,69,0,.8);
    color: white;
    width: 83vw;
}